---
---

@import "{{ site.theme }}";

.btn {
  display: none !important;
}

header {
  display: none !important;
}

// h1, h2, h3, h4, h5, h6 {
//   color: #f59863 !important;
// }

a {
  color: #e853b5 !important;
  text-shadow: None !important;
}

// th {
//   border-bottom: 1px dashed #f59863 !important;
// }

